# pyc files
*.pyc
**/__init__/*.pyc
**/utils/*.pyc
scripts/__pycache__/*.pyc

# slurm jobs out files
out_files/*.out
out_files/*.err


# era5 download logs
download_logs/*.txt

# input parameters
input_params/*
